<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste Medias</title>
</head>
<body>
    <h2>Livres</h2>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>
                {% if book.available %}
                <p class="card-text">Disponible</p>
                {% else %}
                <p class="card-text">Réserver</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <h2>Dvd</h2>
    <tbody>
        {% for dvd in dvds %}
        <tr>
            <td>{{dvd.title}}</td>
            <td>{{dvd.realizator}}</td>
            <td>
                {% if dvd.available %}
                <p class="card-text">Disponible</p>
                {% else %}
                <p class="card-text">Réserver</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <h2>Cd</h2>
    <tbody>
        {% for cd in cds %}
        <tr>
            <td>{{cd.title}}</td>
            <td>{{cd.artist}}</td>
            <td>
                {% if cd.available %}
                <p class="card-text">Disponible</p>
                {% else %}
                <p class="card-text">Réserver</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <h2>Jeux de plateau</h2>
    <tbody>
        {% for boardgame in boardgames %}
        <tr>
            <td>{{boardgame.name}}</td>
            <td>{{boardgame.creator}}</td>
            <td>
                {% if boardgame.available %}
                <p class="card-text">Disponible</p>
                {% else %}
                <p class="card-text">Réserver</p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</body>
</html>